{{#hover-dropdown
    tagName="ul"
    class="nav-user list-unstyled"
    horizontalPosition="right"
    delay=250
    as |dd|
}}
  <li class="nav-item">
    {{#dd.trigger
        class="btn"
        ariaLabel=(t "nav.user.label" username=session.user)
    }}
      <a role="button" aria-haspopup="true" class="nav-link">
        <span>{{access.principal.displayName}}</span>
        {{#if accessEnabled}}
          {{identity-avatar
            link=false
            identity=access.principal
          }}
        {{else}}
          <div class="gh-avatar">
            <div class="gh-placeholder">
              <i class="icon icon-user"></i>
            </div>
          </div>
        {{/if}}
        <span class="sr-only">
          {{t "nav.srToggleDropdown"}}
        </span>
        {{!-- <i class="icon icon-chevron-down text-muted"></i> --}}
      </a>
    {{/dd.trigger}}
  </li>

  {{#dd.content class="text-right"}}
    {{#if accessEnabled}}
      <li role="presentation" class="user-auth">
        {{identity-block principal=access.principal}}
      </li>
    {{/if}}

    <li role="separator" class="divider"></li>
    <li>
      {{#link-to "authenticated.apikeys"}}
        <span>{{t "nav.api.link"}}</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "global-admin.security.cloud-credentials"}}
        <span>{{t "nav.admin.security.cloudCredentials"}}</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "nodes.node-templates"}}
        <span>{{t "nav.nodeTemplates.link"}}</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "authenticated.prefs"}}
        <span>{{t "nav.userPreferences.link"}}</span>
      {{/link-to}}
    </li>
    <li role="separator" class="divider"></li>
    <li>
      {{#link-to "logout" class="user-logout"}}
        <span>{{t "nav.user.logout"}}</span>
      {{/link-to}}
    </li>
  {{/dd.content}}
{{/hover-dropdown}}